# gradle
.gradle/
build/
out/
classes/

# claude
.claude

# eclipse
*.launch

# idea
.idea/
*.iml
*.ipr
*.iws

# vscode
.settings/
.vscode/
bin/
.classpath
.project

# macos
*.DS_Store

# datagen
**/generated/.cache

# fabric
run/
runs/

# java
hs_err_*.log
replay_*.log
*.hprof
*.jfr

# publishing
key.properties
/avp_human.zip
/avp_human0.1.7-fork.zip
/avp_human_current.zip
